VITE_CLICKY_WORKER_URL=http://127.0.0.1:8789
VITE_CLICKY_MOCK_MODE=true
VITE_CLICKY_VOXCPM_URL=http://127.0.0.1:8000/v1
VITE_CLICKY_VOXCPM_MODEL=openbmb/VoxCPM2
VITE_CLICKY_VOXCPM_VOICE=default
VITE_CLICKY_VOICEBOX_URL=http://127.0.0.1:17493
